[submodule "submodules/depth-anything-3"]
	path = submodules/depth-anything-3
	url = https://github.com/ByteDance-Seed/Depth-Anything-3

[submodule "submodules/SASVi"]
	path = submodules/SASVi
	url = https://github.com/MECLabTUDA/SASVi

[submodule "submodules/SDS_Playground"]
	path = submodules/SDS_Playground
	url = https://github.com/MECLabTUDA/SDS_Playground.git
